{% extends 'base.html' %}

{% block content %}

<section class="hero">
    <div class="hero-inner">
        <!-- <img
            src="/static/img/SLITLAMP1.jpeg"
            data-image-width="695"
            data-image-height="461"
        /> -->
        <h1>WELCOME TO DEYEGNOSE</h1>
        <h4>Platform yang digunakan untuk membantu proses screening awal sebagai diagnosis dini penyakit katarak hanya dengan menggunakan Smartphone Anda</h4>

        <br ><a href="{{ url_for('try_it') }}" class="button">Try Now</a>
    </div>
</section>

{% endblock %}
